<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <asp logErrorRequests="false" enableParentPaths="true" runOnEndAnonymously="false">
            <limits bufferingLimit="20480000" maxRequestEntityAllowed="20480000" />
        </asp>
        <defaultDocument>
            <files>
                <clear />
                <add value="index.php" />
                <add value="index.shtml" />
                <add value="index.asp" />
                <add value="index.htm" />
                <add value="index.html" />
            </files>
        </defaultDocument>
        <security>
            <authentication>
                <anonymousAuthentication userName="" />
            </authentication>
        </security>
    </system.webServer>
</configuration>
